@tailwind base;
@tailwind components;

@font-face {
  font-family: "Baloo";
  src: url('/assets/fonts/Baloo.ttf');
}

* {
  -webkit-tap-highlight-color: transparent;
  font-family: "Baloo", sans-serif;
}

*::selection {
  background-color: #087c4c;
  color: #000;
}

.navBarItem {
  @apply hover:text-green-200 transition hover:underline hover:animate-pulse hover:underline-offset-4  px-5 py-2;
}

@layer base {
  html,
  body {
    @apply h-full m-0 p-0 overflow-hidden;
  }
}

@tailwind utilities;
